.form__button {
  color: $color-secondary;
  font-size: 16px;
  padding: 0 14px;
  line-height: 34px;
  height: 36px;
  border-radius: 4px;
  background-color: #FFF;
  display: inline-block;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;

  &--primary {
    color: $color-primary;
    border: 1px solid $color-primary;
  }

  &--secondary {
    border: 1px solid $color-secondary;
  }

  &--main {
    color: $color-main;
    border: 1px solid $color-main;
  }

  &--danger {
    color: $color-danger;
    border: 1px solid $color-danger;
  }

  &--xs {
    font-size: 13px;
    height: 20px;
    line-height: 18px;
  }

  &--sm {
    font-size: 14.5px;
    height: 30px;
    line-height: 30px;
  }

  &--lg {
    font-size: 18px;
    padding: 0 18px 18px;
  }

  &--xl {
    font-size: 20px;
    padding: 0 20px 20px;
  }
}
