<div class="car__meta car__actions">
  <% if policy(object).update? %>
    <span><%= link_to t("cars.edit.text"), edit_car_path(object) %></span>
  <% end %>
  <% if policy(object).destroy? %>
    <span class="car__meta-divider"></span>
    <span><%= link_to t("cars.delete.text"), car_path(object), data: { method: :delete, confirm: t("cars.delete.confirm") } %></span>
  <% end %>
</div>
