<div class="car car--border center">
  <h1><%= t("site.welcome") %></h1>
  <h3><i><%= t("site.get_started") %></i></h3>

  <%= link_to(t("cars.list"), new_car_path, class: "form__button form__button--warning form__button--xl margin-top-10") %>
</div>
